# name
# on
# push
# branch
# permissions
# env
# jobs
# set up runner
# checkout code
# aws authentication with oidc
# ecr authentication
# docker build
# trivy scan
# send to ecr
# update the deployment


name: CI - Build the app and send the artifacts to ECR

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

env:
  AWS_REGION: ap-south-1
  ECR_REPO: my-app
  IMAGE_NAME: my-app
  
 jobs:
  build-and-push:
    runs-on: ubuntu-latest

  steps:
  - name: checkout the code
    uses: actions/checkout

  - name: configure AWS Credentials (OIDC)
    uses: aws-actions/configure-aws-credentials@v5.1.0
    with: 
     role-to-assume: arn:aws:iam::<AWS_ACCOUNT_ID>:role/github-actions-ecr-role
     aws-region: ${{env.AWS_REGION}}

  - name: Login to AWS ECR
    uses: aws-actions/amazon-ecr-login@v2 

  - name: Image Tag
    run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

  - name: Docker Build
    run: |
          doocker build -t $IMAGE_NAME:$IMAGE_TAG .

  - name: Tag docker image
    run: |
        docker tag $IMAGE_NAME:$IMAGE_TAG \
        ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO }}:$IMAGE_TAG

  - name: Trivy Scan Image
    uses: aquasecurity/trivy-action@0.33.1
    with:
        image-ref: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}
        format: table
        severity: CRITICAL,HIGH
        exit-code: 1

  - name: Push to ECR
    run: |
        docker push \
        ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO }}:$IMAGE_TAG


  - name: Update deployment.yaml
    run: |
        sed -i "s|image:.*|image: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPO }}:${IMAGE_TAG}|g" deployment.yaml

  - name: Commit and Push Changes
    run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add deployment.yaml
        git commit -m "Update image tag to $IMAGE_TAG"
        git push



      
        
     




















    
  
      
